<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Boon.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2EB82BB3269CE6DC952314BE1D23FD29D4C2583C</string>
				<key>dateExpires</key>
				<string>5/28/20</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>K56LX5Q456.com.doingboon.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>K56LX5Q456</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Boon.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>cd3e9240-c73d-4f47-8540-4b2872e8b0b3</string>
				<key>name</key>
				<string>doingboon.app Ad Hoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>K56LX5Q456</string>
				<key>name</key>
				<string>boon, Inc.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
